body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-directions: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#main {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
}

